<div class="panel panel-default">
    <div class="panel-heading">
        View Requests
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" id="requestForm">
                    <table class="table table-bordered">
                        <thead>
                        <th>Request ID</th>
                        <th>Drug ID</th>
                        <th>Drug Name</th>
                        <th>Requested Quantity</th>
                        <th>Available Quantity</th>
                        <th>Date</th>
                        <th>Department</th>
                        <th>Status</th>
                        <th>Approved Quantity</th>
                        <th>Approve</th>
                        </thead>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>