
    <div class="panel panel-default">
        <div class="panel-heading">
            Drug Inventory
        </div>
        <div class="panel-body">
            <div class="row">

                <div class="col-md-6">
                    <div class="col-md-2">
                        <select class="form-control" name="singleSelect" id="singleSelect" ng-model="data.singleSelect">
                            <option value="1">3</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <p>Records Per Page</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <form class="form-inline text-right">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="drug.search_key">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <br/>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Drug ID</th>
                    <th>Drug Name</th>
                    <th>Unit Type</th>
                    <th>Drug Category</th>
                    <th>Drug Price</th>
                    <th>Drug Quantity</th>
                </tr>
                </thead>
                <tbody ng-repeat="item in drug.drugs | pagination: drug.curPage * data.singleSelect | limitTo:data.singleSelect | filter:drug.search_key">
                <td>{{item.dId}}</td>
                <td>{{item.dName}}</td>
                <td>{{item.dUnit}}</td>
                <td>{{item.dCategory}}</td>
                <td>{{item.dPrice}}</td>
                <td>{{item.dQuantity}}</td>
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-12 text-right">
                    <div class="pagination" ng-show="drug.drugs.length">
                        <ul class="pagination">
                            <li><button type="button" class="btn btn-primary" ng-disabled="drug.curPage==0" ng-click="drug.curPage=drug.curPage-1">&lt; PREV</button></li>
                            <li><span>Page {{drug.curPage + 1 }} of {{ drug.drugs.length/data.singleSelect | roundup }}</span></li>
                            <li><button type="button" class="btn btn-primary" ng-disabled="drug.curPage>drug.drugs.length/data.singleSelect-2" ng-click="drug.curPage = drug.curPage+1">NEXT &gt;</button></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>


