<div class="row">
    <div class="col-md-6">
        <form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="admin_user.search_key">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2 col-md-offset-4">
        <div class="btn-toolbar">
            <button class="btn btn-primary" ui-sref="admin.newUser">
                <span class="glyphicon glyphicon-plus"></span>
                New User
            </button>
        </div>
    </div>
</div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Permission</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in admin_user.users | filter:admin_user.search_key">
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.permission}}</td>
            </tr>
        </tbody>
    </table>
<!--<div class="pagination">-->
    <!--<ul>-->
        <!--<li><a href="#">Prev</a></li>-->
        <!--<li><a href="#">1</a></li>-->
        <!--<li><a href="#">2</a></li>-->
        <!--<li><a href="#">3</a></li>-->
        <!--<li><a href="#">4</a></li>-->
        <!--<li><a href="#">Next</a></li>-->
    <!--</ul>-->
<!--</div>-->
<!--<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
    <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
        <!--<h3 id="myModalLabel">Delete Confirmation</h3>-->
    <!--</div>-->
    <!--<div class="modal-body">-->
        <!--<p class="error-text">Are you sure you want to delete the user?</p>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>-->
        <!--<button class="btn btn-danger" data-dismiss="modal">Delete</button>-->
    <!--</div>-->
<!--</div>-->

